@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Open+Sans:wght@400&display=swap");

$colour-background: #e5e5e5;
$colour-accent: #f4f3ee;
$colour-accent-second: #c32c72;
$colour-accent-third: #ffffff;
$colour-footer: #8d8d8d;
$colour-header: #463f3a;
